<h1> Team Rap Laughs </h1>

<div class="team-photo">
<%= image_tag "static/kchamp.jpg" %>
<%= link_to "@keccers", "http://www.twitter.com/keccers",	:target => "_blank", :class => "twitter-link" %>
</div>

<div class="team-photo">
<%= image_tag "static/priya.jpg" %>
<%= link_to "@pri1229", "http://www.twitter.com/pri1229",	:target => "_blank", :class => "twitter-link" %>
</div>

<a class="team-twitter" href=""></a>
</div>
<div class="team-photo">
<%= image_tag "static/abraham.jpg" %>
<%= link_to "@abrahamsangha", "http://www.twitter.com/abrahamsangha",	:target => "_blank", :class => "twitter-link" %>
<a class="team-twitter" href=""></a>
</div>

<div class="team-photo">
<%= image_tag "static/christopher.jpg" %>
<a class="team-twitter" href=""></a>
<%= link_to "@clawbalker", "http://www.twitter.com/clawbalker", :target => "_blank", :class => "twitter-link" %>
</div>

<div class="team-photo">
<%= image_tag "static/wilson.jpg" %>
<a class="team-twitter" href=""></a>
<%= link_to "@wilson_says", "http://www.twitter.com/wilson_says",	:target => "_blank", :class => "twitter-link" %>
</div>


