<h1>Rap Laughs</h1>
<% @laughs.each do |laugh| %>
  <div class="laugh" id="<%= laugh.rapper_name %>">
  <%= image_tag laugh.static_img %>
  <audio controls>
    <source src="audio/<%= laugh.audio_url %>" type="audio/mpeg" autoplay="autoplay"/>
  </audio>
  	<div class="tweet">
  		<span>Tweet <%= laugh.rapper_name %>'s Laugh:</span>
  		  	<%= tweet_button(:url => laugh.sc_url ) %>
  	</div>
  </div>
<% end %>
